# Emacs
*~
.dir-locals.el

# Vim
.*.swp

# macOS
.DS_Store

# Nix
result*

# direnv.
.direnv/
.envrc

# tsc
tsconfig.tsbuildinfo

# tsserver
.log/

# yarn
node_modules/
yarn-debug.log*
yarn-error.log*

# vite
.vite/
dist/

# eslint
.eslintcache

# Storybook.js
storybook-static/
build-storybook.log

# VSCode
*.code-workspace
.vscode
