@import "reactflow/dist/base.css";

.react-flow__edge-path,
.react-flow__connection-path {
  stroke: unset;
  stroke-width: unset;
}

.react-flow__handle {
  min-width: 1px;
  min-height: 1px;
  background-color: transparent;
}

.react-flow__handle-top {
  top: 1px;
}

.react-flow__handle-bottom {
  bottom: 1px;
}

.react-flow__handle-left {
  left: 1px;
}

.react-flow__handle-right {
  right: 1px;
}
