@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Source Serif Variable";
    font-style: normal;
    font-weight: 200 900;
    font-stretch: normal;
    src: url("/fonts/SourceSerif4Variable-Roman.otf.woff2")
      format("woff2-variations");
  }

  @font-face {
    font-family: "Source Serif Variable";
    font-style: italic;
    font-weight: 200 900;
    font-stretch: normal;
    src: url("/fonts/SourceSerif4Variable-Italic.otf.woff2")
      format("woff2-variations");
  }

  @font-face {
    font-family: "Source Serif Semibold";
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    src: url("/fonts/SourceSerif4-Semibold.otf.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter Variable";
    font-style: normal;
    font-weight: 200 900;
    font-stretch: normal;
    src: url("/fonts/Inter-roman.var.woff2") format("woff2-variations");
  }

  @font-face {
    font-family: "Inter Variable";
    font-style: italic;
    font-weight: 200 900;
    font-stretch: normal;
    src: url("/fonts/Inter-italic.var.woff2") format("woff2-variations");
  }
}

@layer components {
  .neodrag-react-handle {
    @apply cursor-grab active:cursor-grabbing;
  }
}
